#AssetContainer
{
	margin: 0 auto;
	width: 620px;
}

#AssetContainer h2
{
	color: #333;
	font-size: x-large;
	margin-bottom: 5px;
}

#AssetContainer #Asset
{
	background-color: #eee;
	border: solid 1px #000;
	color: #555;
}
/*
     FILE ARCHIVED ON 22:16:45 Sep 07, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:15:16 Sep 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 187.292
  exclusion.robots: 103.131
  exclusion.robots.policy: 103.123
  xauthn.identify: 75.061
  xauthn.chkprivs: 27.84
  cdx.remote: 0.073
  esindex: 0.008
  LoadShardBlock: 53.398 (3)
  PetaboxLoader3.datanode: 162.704 (4)
  CDXLines.iter: 14.503 (3)
  load_resource: 895.452
  PetaboxLoader3.resolve: 766.236
*/