#InfoContainer
{
	background-color: #eee;
	border: solid 1px #000;
	color: #555;
	margin: 0 auto;
	width: 620px;
}

#InfoContainer h2
{
	background-color: #ccc;
	border-bottom: solid 1px #000;
	color: #333;
	font-size: x-large;
	margin: 0;
	text-align: center;
}

#InfoContainer #Content
{
	font: normal 1em/normal Verdana, sans-serif;
	line-height: 1.5em;
	padding: 10px 20px 10px 20px;
}
/*
     FILE ARCHIVED ON 22:16:46 Sep 07, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:34:30 Sep 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 187.149
  exclusion.robots: 120.111
  exclusion.robots.policy: 120.104
  xauthn.identify: 79.166
  xauthn.chkprivs: 40.647
  cdx.remote: 0.081
  esindex: 0.01
  LoadShardBlock: 39.938 (3)
  PetaboxLoader3.datanode: 44.15 (4)
  CDXLines.iter: 18.097 (3)
  load_resource: 58.317
  PetaboxLoader3.resolve: 44.952
*/