#AlreadyInstalled
{
	font-size: large; 
	margin: 44px 44px 44px 44px;
}

#AlreadyInstalled a
{
	text-decoration: underline;
}

/*
     FILE ARCHIVED ON 22:16:47 Sep 07, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:34:45 Sep 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 206.874
  exclusion.robots: 111.24
  exclusion.robots.policy: 111.232
  xauthn.identify: 71.849
  xauthn.chkprivs: 39.126
  cdx.remote: 0.073
  esindex: 0.011
  LoadShardBlock: 67.36 (3)
  PetaboxLoader3.datanode: 76.999 (4)
  CDXLines.iter: 13.338 (3)
  load_resource: 52.941
  PetaboxLoader3.resolve: 33.578
*/