/node_modules
/public/hot
/public/storage
/resources/privkey/*.pem
/resources/privkey/*.pem
/public/GameRBLX/*.pem
/public/asset/*.pem
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/.DS_Store
maintenance/.DS_Store