#alert {
    height: 50px;
    margin: 0px;
    padding-left: 5px;
    padding-top: 0px;
    width: 100%;
    text-align: center;
	background: linear-gradient(#f07575 10%, #e13b3b 49%, #d22 50%, #de2323 100%);
}
.navbar {
    height: 40px;
    margin: 0px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    line-height: normal;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    background: linear-gradient(#759CF0 10%, #3B72E1 49%, #2260DD 50%, #2362DE 100%);
}
.navbarbuttoncontainer, .smallnavbarbuttoncontainer {
    padding-left: 5px;
    display: table-cell;
    vertical-align: middle;
}
.navbarbutton {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 18px;
}
.smallnavbarbutton {
    position: relative;
    text-align: center;
    font-size: 15px;
}
.smallnav {
    height: 25px;
    margin: 0px;
    padding-left: 5px;
    display: inline-table;
    padding-top: 3px;
    vertical-align: middle;
    padding-bottom: 3px;
    width: 100%;
    line-height: normal;
    color: rgb(255, 255, 255);
    text-size-adjust: auto;
    text-align: left;
    background-color: black;
}
.invisible {
    display: none !important;
}
html {
    font-family: "Helvetica";
    src: url('Helvetica.ttf') format('truetype'),;
    font-style: normal;
    background-color: rgb(75, 75, 75);
    color: white;
}
body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
.content {
    color: black;
    min-height: 1000px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: white;
}
footer {
    text-align: center;
    background-color: rgb(179, 179, 179);
    min-height: 400px;
}
p,h1 {
    margin: 0px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}