
#alert {
  background: linear-gradient(#f07575 10%, #de2323 100%);
}

#success {
  background: linear-gradient(#a3e2bd 10%, #02b757 100%)
}

.warningtext {
  color: red;
}


.popupcontainer {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background: #2362DE;
  background: linear-gradient(#3690df 10%, #0d1085 100%);
}

.onlinestatus_website {
  color: #2260DD;
}

.onlinestatus_studio {
  color: rgb(185, 135, 20);
}

.onlinestatus_ingame {
  color: green;
}

.onlinestatus_offline {
  color: white;
}

.FeedContainerBox,
.ProfileContainerBox,
.FriendsContainerBox {
  border: 1px solid #787373;
}
.smallnav {
  color: rgb(255, 255, 255);
  background: linear-gradient(#303030 10%, #000000 100%);
}

html {
  background-color: rgb(1, 17, 48);
  color: white;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 700px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 100%;
}

.content {
  color: white;
  background: rgb(25, 25, 25);
}

.content_signup {
  color: rgb(255, 255, 255);
  background: rgb(25, 25, 25);
}

.content p a,
.content a,
.content_signup p a,
.content_signup a,
.content_special p a,
.content_special a {
  color: #d1d1d1;
}

#footer {
  background: rgb(0, 0, 0);
}

#footer_signup {
  background: rgb(0, 0, 0);
}

#footer p,
#footer a,
#footer_signup p,
#footer_signup a {
  color: white;
}

a,
#navbarusername {
  color: white;
}

.logoutframe {
  background: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.iphone-sidebar {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.iphone-content {
  color: white;
  background-color: rgb(0, 0, 0);
}

#InviteTreeContainer {
  background-color: rgb(255, 255, 255);
}

textarea, select, input {
  background-color: black;
  color: white;
}

button.greybutton {
  background: black;
  color: rgb(255, 255, 255);
  background: linear-gradient(180deg, #4b4b4b 0%, rgb(36, 36, 36) 100%);
}

button:hover.greybutton {
  background: linear-gradient(0deg, #4b4b4b 0%, rgb(36, 36, 36) 100%);
}

.popup {
  color: white;
}