html {
  background: url('../img/animateddark.png');
  background-color: rgb(1, 17, 48);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-attachment: fixed;
  animation-name: animatedbackground;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}