html {
  background-color: #111;
}

body {
  background-color: #111;
  min-width: 0px;
}

@font-face
{
	font-family: "copenhagen-icons";
	src: url(copenhagen-icons-268fb7c014de8a06d7d40310b5000daa..woff) format("woff");
	font-weight: normal;
	font-style: normal
}

h1 {
  font-size: 32px;
  font-weight: 800;
}
h2 {
  font-size: 26px;
  font-weight: 800;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h5 {
  font-size: 16px;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  font-weight: 200;
}

#MasterContainer.NewPanel.AdminPanel {
  background-color: #111;
}
#MasterContainer.NewPanel #BodyWrapper {
  padding-top: 25px;
  background-color: #111;
  color: #fff;
}
.NewPanel.AdminPanel {
  height: 100%;
}
#MasterContainer.NewPanel .iphone-sidebar, #MasterContainer.NewPanel .iphone-content, #MasterContainer #AdminWrapper, #MasterContainer #BodyWrapper {
  display: none;
}
#MasterContainer.NewPanel #AdminWrapper, #MasterContainer.NewPanel #BodyWrapper {
  display: block;
}
.NewPanel #AdminWrapper.Navigation {
  width: 100%;
}
.NewPanel .AdminHeader {
  width: 100%;
  height: 75px;
  background-color: #333;
  z-index: 2;
  position: relative;
}
.NewPanel .AdminSubHeader {
  width: 100%;
  height: 25px;
  background: linear-gradient(180deg, #333, #191919);
  box-shadow: 0 2px 8px 0 #000;
  z-index: 1;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.NewPanel .AdminSubHeader ul {
  padding: 0;
  margin: auto auto;
  width: 970px;
  height: 25px;
}
.NewPanel .AdminSubHeader li {
  width: 33.334%;
  text-align: center;
  list-style: none;
  float: left;
  padding: 3px 0;
  color: #fff;
}
.NewPanel .AdminSubHeader li a {
  font-size: 14px;
  font-weight: 100;
  color: #bbb;
  cursor: pointer;
  transition: .1s all linear;
}
.NewPanel .AdminSubHeader li:hover a {
  color: #ccc
}
.NewPanel .AdminSubHeader li a.Active, .NewPanel .AdminSubHeader li a.Active:active {
  box-shadow: 0 2px 0 0 #00b7ff;
}
.NewPanel .AdminSubHeader li a:hover, .NewPanel .AdminSubHeader li a:active {
  color: #fff;
  box-shadow: 0 2px 0 0 #fff;
  transition: .1s all linear;
}
.NewPanel .AdminHeader .Slogan {
  font-size: 16px;
  font-weight: 100;
  display: block;
  text-align: center;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.NewPanel .AdminHeader .SiteBrand {
  width: 200px;
  height: 40px;
  padding: 5px;
  background-image: url(/img/MORBLOXlogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0;
  display: block;
  margin: auto;
}
.NewPanel.AdminPanel #Body {
  background-color: #111;
}
.NewPanel.AdminPanel .MainHeader, .NewPanel.AdminPanel .SubHeader {
  text-align: center;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.NewPanel.AdminPanel .Reminder {
  color: #ff7300
}
.NewPanel .text-error {
  display: block;
  text-align: center;
  color: #d6241a;
  font-weight: 200;
  padding: 5px;
}
.NewPanel .text-header {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.NewPanel .text-secondary {
  color: #bbb;
  display: inline-block;
  text-align: left;
}
.NewPanel.AdminPanel .Stats-Wrapper {
  text-align: center;
  padding: 4px;
}
.NewPanel.AdminPanel .StatsContainer {
  margin: 15px 15px 0 15px;
  padding: 15px;
  border: 1px dashed #ff7300;
  background-color: #080808;
}
.NewPanel.AdminPanel .Userlist {
  margin: 10px;
}
.NewPanel.AdminPanel form div {
  display: flex;
  justify-content: center;
}
.NewPanel .SearchCloseBtn{
  color: #af1400;
  transition: .1s linear;
  left: auto;
  margin-left: -105px;
  margin-top: 1px;
  position: absolute;
  font-size: 16px;
}
.NewPanel .SearchCloseBtn:hover {
  color: #d41900;
}
.NewPanel.AdminPanel #SearchInput {
  border: 1px solid #757575;
  border-radius: 3px;
  color: #b8b8b8;
  background-color: #000;
}
.NewPanel.AdminPanel #SearchInput:focus, .AdminPanel #SearchInput:active {
  border-color: #0099ff;
}
.NewPanel #SearchInput, .NewPanel .btn-neutral {
  margin: 0 5px;
}
.NewPanel.AdminPanel #SearchInput:focus-visible {
  outline: none;
}
.NewPanel.AdminPanel .Stats {
  font-size: 16px;
  font-weight: 100;
  color: #a7a7a7;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.NewPanel.AdminPanel .Stats.Counter {
  font-weight: 400;
  color: #fff;
}
.NewPanel.AdminPanel .Stat-Separator {
  width: 50%;
  height: 1px;
  background: linear-gradient(90deg,rgb(85, 85, 85,0) 0%, #555 50%, rgb(85, 85, 85,0) 100%);
  display: block;
  margin: auto;
}
.NewPanel.AdminPanel .SearchContainer {
  width: 235px;
  height: auto;
  background-color: #555;
  border-radius: 5px;
  margin: 62px 25px 0 0;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.NewPanel .SearchContainer .Thumbnail {
  height: 64px;
  width: 64px;
  margin-top: -37px;
  background-color: #555;
  border: 5px solid #111;
  border-radius: 100%;
}
.NewPanel .SearchBoard {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.NewPanel .SearchContainer .UserThumbnail {
  background-image: url(/img/defaultrender.png);
  background-size: contain;
  width: 100%;
  height: 100%;
}
.NewPanel .SearchContainer .UserDetails {
  width: 95%;
  padding: 5px;
}
.NewPanel .SearchContainer .SearchBox {
  width: 100%;
}
.NewPanel .AuthenticatedUserNameWrapper {
  top: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: 100;
  display: inline-block;
  position: absolute;
  color: #fff;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.NewPanel .AuthenticatedUserName {
  color: #00b7ff;
  transition: .25s all ease-in-out;
  display: inline-block;
}
.NewPanel .AdminHeader .HomeBtn {
  color: #00b7ff;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
}
.NewPanel .HomeBtn {
  top: 10px;
  left: 10px;
  background: none;
  border: 0;
  padding: 0;
  height: auto;
  font-size: 16px;
  font-weight: 100;
  display: inline-block;
  position: absolute;
}
.NewPanel .BackArrow {
  cursor: default;
  transition: .25s all ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.1rem;
  margin-right: 2px;
}
.NewPanel .Backbtn {
  color: inherit;
  cursor: pointer;
  transition: .25s all ease-in-out;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.NewPanel .UserDetails .Row {
  overflow-wrap: anywhere;
}
.NewPanel .AuthenticatedUserName:hover, .NewPanel .Backbtn:hover, .NewPanel .Backbtn:hover + .BackArrow {
  color: #7ddaff;
  transition: .25s all ease-in-out;
}
.NewPanel .SearchContainer .Thumbnail a {
  width: 12px;
  height: 12px;
  display: block;
  float: right;
  top: -12px;
  position: relative;
  border-radius: 50%;
}
.NewPanel .website {
  background: linear-gradient(0deg, #0087e0 0%, #005085 49%,#005a85 50%, #0099ff 95%, #fff 100%);
  border: 2px solid #111;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  margin: -8px;
}
.NewPanel .offline {
  background: linear-gradient(0deg, #a3a3a3 0%, #7a7a7a 49%, #797979 50%, #c9c9c9 95%, #fff 100%);
  border: 2px solid #111;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  margin: -8px;
}
.NewPanel.AdminPanel .flex {
  display: table!important;
}
/*Heavily based off of the roblox developer tree list (because it looks cool)*/
.NewPanel .SearchTree {
  width: 260px;
  height: 100%;
  padding: 0;
  margin: 10px auto 0;
  min-height: 550px;
}
.NewPanel .SearchTree .Menu {
  list-style-type: none;
  position: relative;
  top: 0;
  bottom: 0;
  line-height: 20px;
  min-height: 550px;
}
.NewPanel .SearchTree a {
  color: #9b9b9b;
  transition: .15s all ease-in-out;
  font-size: 14px;
  margin: 0 0 0 38px;
  padding-right: 5px;
  position: relative;
  top: 18px;
  display: inline-block;
}
.NewPanel .SearchTree a:hover {
  color: #00b7ff;
}
.NewPanel .SearchTree a:after {
  content: '';
  border: 1px solid #555;
  border-radius: 100%;
  width: 2px;
  height: 2px;
  display: inline-block;
  left: -10px;
  position: absolute;
  top: 9px;
}
.NewPanel .SearchTree a span {
  display: block;
}
.NewPanel #BodyWrapper .forwardArrow::before {
  font-family: "copenhagen-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.NewPanel #BodyWrapper .forwardArrow::before {
  content: '\2794';
}
.NewPanel .SearchTree .forwardArrow:hover {
  color: #00b7ff;
}
.NewPanel #BodyWrapper .forwardArrow {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 14px;
}
.NewPanel #BodyWrapper .forwardArrow::after, .NewPanel #BodyWrapper .userInfo::after {
  display: none;
}
.NewPanel #BodyWrapper .userInfo {
  margin: 0;
}
.NewPanel #BodyWrapper .userInfo::before {
  font-family: "copenhagen-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.NewPanel #BodyWrapper .userInfo::before {
  content: '\2139';
  padding: 0 2px;
  border: 1px solid;
  border-radius: 100%;
}
.NewPanel .TreeList {
  border-left: 1px dashed #555;
  margin: 13px 0 0 30px;
  padding: 0;
}
.NewPanel #DropDown.TreeList {
  min-height: 550px;
}
.NewPanel .SearchTree li ul li {
  list-style-type: none;
  position: relative;
  top: 3px;
  bottom: 0;
  padding-bottom: 16px;
  white-space: nowrap;
}
.NewPanel .SearchTree li ul li:last-child {
  padding-bottom: 11px;
}
.NewPanel .SearchTree li ul li.subList {
  padding-bottom: 0;
}
.NewPanel .SearchTree li ul li:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 0;
  position: absolute;
  left: 0em;
  top: 28px;
  border-top: 1px dashed #555;
}

@media (max-width:1000px) {
  .NewPanel .AdminSubHeader ul {
    width: 750px;
  }
}
@media (max-width:990px) {
  .NewPanel.AdminPanel #Body, .NewPanel.AdminPanel #BodyWrapper, .NewPanel.AdminPanel #MasterContainer {
    width: 100% !important; /*!important since late 2012 roblox uses element.style CRINGE!*/
    padding: 0;
  }
}
@media (max-width:750px) {
  .NewPanel .AdminSubHeader ul {
    width: 400px;
  }
}
@media (max-width:500px) {
  .NewPanel .AdminSubHeader ul {
    width: 300px;
  }
}