*
{
	font-size: 12px;
	font-family: 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
}
H1
{
	font-weight: bold;
	font-size: larger;
}

/*
     FILE ARCHIVED ON 17:06:51 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:32:02 May 30, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 543.356
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.106
  cdx.remote: 0.078
  esindex: 0.011
  LoadShardBlock: 514.942 (3)
  PetaboxLoader3.datanode: 196.729 (4)
  CDXLines.iter: 17.173 (3)
  PetaboxLoader3.resolve: 383.648 (2)
  load_resource: 175.393
*/