#BuildersClubContainer {
    margin-left:-5px;
}
/*
     FILE ARCHIVED ON 22:16:49 Sep 07, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:00:27 Sep 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 439.621
  exclusion.robots: 311.856
  exclusion.robots.policy: 311.847
  xauthn.identify: 138.163
  xauthn.chkprivs: 173.33
  RedisCDXSource: 1.36
  esindex: 0.015
  LoadShardBlock: 102.282 (3)
  PetaboxLoader3.datanode: 172.16 (4)
  CDXLines.iter: 21.261 (3)
  load_resource: 224.445
  PetaboxLoader3.resolve: 125.205
*/