#CatalogContainer > .StandardBox {
    padding:3px 6px 8px 5px;
}
.Assets .StandardBoxHeader {
    width:660px;   
}
.Assets .StandardBox {
    width:660px;   
}
/*
     FILE ARCHIVED ON 22:16:49 Sep 07, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:00:50 Sep 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 374.643
  exclusion.robots: 229.993
  exclusion.robots.policy: 229.987
  xauthn.identify: 155.578
  xauthn.chkprivs: 74.18
  cdx.remote: 0.07
  esindex: 0.01
  LoadShardBlock: 90.941 (3)
  PetaboxLoader3.datanode: 69.855 (4)
  CDXLines.iter: 13.005 (3)
  load_resource: 122.153
  PetaboxLoader3.resolve: 93.81
*/