#InboxTabs
{
    position:relative;
    top: 2px;
}

/*
     FILE ARCHIVED ON 22:16:50 Sep 07, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:05:18 Sep 12, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 480.444
  exclusion.robots: 324.772
  exclusion.robots.policy: 324.764
  xauthn.identify: 80.98
  xauthn.chkprivs: 243.576
  RedisCDXSource: 0.638
  esindex: 0.007
  LoadShardBlock: 140.128 (3)
  PetaboxLoader3.datanode: 256.68 (4)
  CDXLines.iter: 13.26 (3)
  load_resource: 167.786
  PetaboxLoader3.resolve: 38.549
*/